<template>
  <div>
    <button @click="checkAPIHandler" >Check API</button>
    <div>Status: {{status}}</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'heartbeat',
  computed: {
    ...mapGetters({
      status: 'getStatus',
    }),
  },
  methods: {
    ...mapActions({
      checkAPI: 'fetchHealthCheckAPI',
    }),
    checkAPIHandler() {
      this.checkAPI();
    },
  },
};
</script>
