<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <HeartBeat/>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
import HeartBeat from '@/components/HeartBeat.vue';

export default {
  name: 'home',
  components: {
    HeartBeat,
  },
};
</script>
